/* variables */
$color-principal: coral;
$color-letra: black;
$color-animacion1: #FFE3A9;
$color-animacion2: #ffc3c3;
$color-animacion3: #FF8C8C;

/** maps **/

$paleta-animacion: (
                "coloranimacion1": #ffe3a9
                "coloranimacion2": #ffc3c3
                "coloranimacion3": #ff8c8c
);
